doctype html
html
  head
    meta(charset='utf-8')
    title Lista de eventos
  body
    ul
      li
        b Programação defensiva - Como fazer seus robôs não te matarem
        |  - 01/02/2900
      li
        b Arrumando seus braços robóticos com PHP
        |  - 04/02/2900
      li
        b Desenvolvimento de jogos ... Mortais
        |  - 07/05/2900
      li
        b Hackeando a matrix para negociar aumentos
        |  - 01/06/2900
      li
        b Programando robôs gigantes utilizando NodeJS
        |  - 09/06/2900
