doctype html
html
  head
    meta(charset='utf-8')
    title Lista de eventos
    link(rel='stylesheet', href='index.css')
  body
    ul
      each event in allEvents
        li
          b #{event.name}
          |  - #{event.date}
